.about__page{
    width: 100%;
    flex-direction: row;
    flex:1;
    justify-items: center;
    
}
li {
    color: white;
    width: 18px;
    padding: 3rem;
}
/*text-lg w-[18px] hover:scale-110 font-semibold flex flex-row ml-1.5 mr-1.5 justify-center items-center text-white
