#home{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    overflow: hidden;
}
.app__home{
    flex: 1;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    padding: 6rem 2rem 0rem;


}
.app__home-badge{
    width: 100vw;
    height: 250px;
    display: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--secondary-color);

}
.app__home-main {
    width: 100vw;
    height: 100vh;
    
}
