.app__navbar{
    background-color: var(--secondary-color);
    justify-content: center;
    text-align: center;
    overflow: hidden;
    list-style-type: none;
}

.app__navbar-links{
    display: block;
    text-align: center;
    padding: 5px;
}

.app__flex {
    display: inline-block;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    color: var(--primary-color);
}